/* My-PSC specific CSS */
h1#wb-cont {
  border-bottom: 1px solid #af3c43;
  margin-bottom: 0.2em;
  margin-top: 1.25em;
  padding-bottom: 0.2em;
  font-size: 34px !important;
}

.page-header-no-underline {
  padding-bottom: 10.5px;
  margin: 46px 0 23px;
}

.is-center {
  text-align: center;
  justify-content: center;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.swap-lang-button-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #284162;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

::placeholder {
  opacity: 0.6;
}

/* Formatting classes */
.emphasisFormat {
  font-style: italic;
}

.boldFormat {
  font-weight: bold;
}

.spacer {
  margin-top: 2em;
}

.no-spacer {
  margin-top: 0em;
  margin-bottom: 0em;
}
