/*
popup-box.css is used for the PopupBox.jsx styles that cannot be added inside a const
*/

.close-button:hover {
  color: #00565e !important;
}

.close-button:focus {
  color: #00565e !important;
}

.custom-button-style:hover {
  filter: brightness(85%) !important;
}

.popup-title {
  overflow-x: auto;
  white-space: nowrap;
}

/* Adding missing Bootstrap CSS not included in Aurora */
@media (min-width: 992px) {
  .modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}
.modal-content {
  border-radius: 4px;
}
.modal-open .modal {
  overflow-y: hidden;
}
.popup-box-on-top {
  z-index: 1050;
}
.row-padding-top-bottom {
  padding: 15px 0 15px 0;
}
.modal-dialog-scrollable .modal-content{
  overflow: inherit;
}